<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'sightings/css/index.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Squirrel Sightings</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
    <div class="container-fluid main-container">
    <table class="table" id="main-table">
        <thead class="thead-light">
            <tr>
		<th scope="col"></th>
		<th scope="col"></th>
                <th scope="col">USID </th>
                <th scope="col">Coordinate</th>
                <th scope="col">Shift</th>
                <th scope="col">Date</th>
                <th scope="col">Age</th>
                <th scope="col">Primary Fur Color </th>
                <th scope="col">Location</th>
                <th scope="col">Specific Location </th>
                <th scope="col">Running</th>
                <th scope="col">Chasing</th>
                <th scope="col">Climbing</th>
                <th scope="col">Eating</th>
                <th scope="col">Foraging</th>
                <th scope="col">Other Activities</th>
                <th scope="col">Kuks</th>
                <th scope="col">Quaas</th>
                <th scope="col">Moans</th>
                <th scope="col">Tail flags</th>
                <th scope="col">Tail twitches</th>
                <th scope="col">Approaches</th>
                <th scope="col">Indifferent</th>
                <th scope="col">Runs from</th>
            </tr>
        </thead>
        <tbody>
            {% for squirrel in squirrels %}
	    <tr>
	    <td><i class='fa fa-edit' aria-hidden='true'></i></td>
	    <td><i class='fa fa-plus' aria-hidden='true'></i></td>
            <td class='usid-td'>{{squirrel.unique_squirrel_id}}</td>
	    <td class='coor-td'>(<span>{{squirrel.latitude}}</span>, <span>{{squirrel.longitude}}</span>)</td>
            <td class='shift-td'>{{squirrel.shift}}</td>
            <td class='date-td'>{{squirrel.date}}</td>
            <td class='age-td'>{{squirrel.age}}</td>
            <td class='pfc-td'>{{squirrel.primary_fur_color}}</td>
            <td class='loc-td'>{{squirrel.location}}</td>
            <td class='sloc-td'>{{squirrel.specific_location}}</td>
            <td class='run-td'>{{squirrel.running}}</td>
            <td class='chase-td'>{{squirrel.chasing}}</td>
            <td class='climb-td'>{{squirrel.climbing}}</td>
            <td class='eat-td'>{{squirrel.eating}}</td>
            <td class='forage-td'>{{squirrel.foraging}}</td>
            <td class='other-td'>{{squirrel.other_activities}}</td>
            <td class='kuks-td'>{{squirrel.kuks}}</td>
            <td class='quaas-td'>{{squirrel.quaas}}</td>
            <td class='moans-td'>{{squirrel.moans}}</td>
            <td class='tail-flag-td'>{{squirrel.tail_flags}}</td>
            <td class='tail-twitch-td'>{{squirrel.tail_twitches}}</td>
            <td class='appr-td'>{{squirrel.approaches}}</td>
            <td class='indif-td'>{{squirrel.indifferent}}</td>
            <td class='run-from-td'>{{squirrel.runs_from}}</td>
	    </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
    {% csrf_token %}
    {% load static %}
    <script src="{% static 'sightings/js/content.js' %}"></script>
    <script src="{% static 'sightings/js/index.js' %}"></script>
</body>
</html>
